<li>
  <%= gravatar_for user, size: Settings.user.avatar.size %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
    | <%= link_to t("user.delete"), user, data: {"turbo-method": :delete, turbo_confirm: t("user.delete_confirm")} %>
  <% end %>
</li>
