<% if flash[:warning] %>
  <div class="alert alert-danger">
    <%= flash[:warning] %>
  </div>
<% end %>

<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

